# Lecture 3 Pandas

In [7]:
import numpy as np

import pandas as pd

Pandas 主要有两种数据类型：Series 和 DataFrame。

1. Series:

* 一维带标签数组: Series 可以理解为一个带标签的一维数组，可以存储各种数据类型（整数、浮点数、字符串、布尔值等）。标签是索引，可以是数字、字符串或日期时间等。
* 类似于字典: Series 可以类似于字典一样通过标签（键）访问数据（值）。
* 创建 Series: 可以通过多种方式创建 Series，例如从列表、NumPy 数组、字典等。

In [8]:
import pandas as pd
import numpy as np

# 从列表创建 Series
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

# 从字典创建 Series
data = {'a': 0., 'b': 1., 'c': 2.}
s = pd.Series(data)
print(s)

# 指定索引
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=['a', 'b', 'c', 'd', 'e', 'f'])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64
a    0.0
b    1.0
c    2.0
dtype: float64
a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

2. DataFrame:

* 二维带标签表格数据: DataFrame 是一个二维的带标签数据结构，类似于关系型数据库中的表格或电子表格。它由多个 Series 组成，共享相同的索引。
* 每列可以是不同的数据类型: DataFrame 的每一列可以存储不同类型的数据，例如一列存储字符串，另一列存储数字。
* 创建 DataFrame: 可以通过多种方式创建 DataFrame，例如从字典、列表、NumPy 数组、Series 或其他 DataFrame。

In [9]:
import pandas as pd

# 从字典创建 DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 28],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
print(df)

# 从列表创建 DataFrame
data = [['Alice', 25, 'New York'],
        ['Bob', 30, 'London'],
        ['Charlie', 28, 'Paris']]
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris
      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   28     Paris

这两个数据结构是 Pandas 的核心，提供了丰富的数据操作和分析功能，例如数据清洗、转换、聚合、统计分析等等。  理解 Series 和 DataFrame 是学习和使用 Pandas 的基础.

## Object creation

Creating a Series by passing a list of values, letting pandas create a default RangeIndex.

In [10]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [11]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [12]:
data = {
    'Name': ['Amy', 'Daming', 'Bob'],
    'Age': [25, 30, 35],
    'City': ['Beijing', 'Shanghai', 'Guangzhou']
} # 字典
df = pd.DataFrame(data)
print(df)

     Name  Age       City
0     Amy   25    Beijing
1  Daming   30   Shanghai
2     Bob   35  Guangzhou

In [13]:
dates = pd.date_range('20250304', periods=6)
print(dates)

DatetimeIndex(['2025-03-04', '2025-03-05', '2025-03-06', '2025-03-07',
               '2025-03-08', '2025-03-09'],
              dtype='datetime64[ns]', freq='D')

In [41]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df)

                   A         B         C         D
2025-03-04 -0.957528 -1.369764  0.140636  0.448950
2025-03-05  0.738540  0.264259 -1.165556 -0.466378
2025-03-06 -1.093770  1.721826 -0.709783  1.112491
2025-03-07 -0.781910  0.812508 -0.247565 -1.000344
2025-03-08 -0.379704 -1.742474 -1.236912 -0.655909
2025-03-09 -1.734585 -0.206990  0.801452 -0.671617

In [15]:
print(df.index)
print(df.columns)
print(df.to_numpy)

DatetimeIndex(['2025-03-04', '2025-03-05', '2025-03-06', '2025-03-07',
               '2025-03-08', '2025-03-09'],
              dtype='datetime64[ns]', freq='D')
Index(['A', 'B', 'C', 'D'], dtype='object')
<bound method DataFrame.to_numpy of                    A         B         C         D
2025-03-04 -0.240391 -0.954881 -0.528938 -0.859948
2025-03-05 -1.011833 -0.521639  0.280667 -2.634893
2025-03-06  0.614858  1.527944  0.621165 -0.953350
2025-03-07 -0.684380 -1.635435  0.564540  0.711832
2025-03-08  0.737706 -1.268801  1.879534 -0.164479
2025-03-09 -0.100336  0.325176 -0.027000 -0.762963>

In [16]:
df.head(2)

                   A         B         C         D
2025-03-04 -0.240391 -0.954881 -0.528938 -0.859948
2025-03-05 -1.011833 -0.521639  0.280667 -2.634893

In [17]:
df.head() # 默认前5行

                   A         B         C         D
2025-03-04 -0.240391 -0.954881 -0.528938 -0.859948
2025-03-05 -1.011833 -0.521639  0.280667 -2.634893
2025-03-06  0.614858  1.527944  0.621165 -0.953350
2025-03-07 -0.684380 -1.635435  0.564540  0.711832
2025-03-08  0.737706 -1.268801  1.879534 -0.164479

In [18]:
df.tail(3)

                   A         B         C         D
2025-03-07 -0.684380 -1.635435  0.564540  0.711832
2025-03-08  0.737706 -1.268801  1.879534 -0.164479
2025-03-09 -0.100336  0.325176 -0.027000 -0.762963

In [19]:
df.to_numpy()

array([[-0.24039083, -0.95488116, -0.52893765, -0.85994784],
       [-1.01183278, -0.52163862,  0.28066653, -2.6348925 ],
       [ 0.61485834,  1.52794396,  0.62116534, -0.95334997],
       [-0.68437969, -1.63543491,  0.56453972,  0.7118325 ],
       [ 0.73770644, -1.26880078,  1.87953438, -0.16447856],
       [-0.10033584,  0.32517572, -0.0270003 , -0.76296284]])

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.114062 -0.421273  0.464995 -0.777300
std    0.693432  1.169952  0.812300  1.102882
min   -1.011833 -1.635435 -0.528938 -2.634893
25%   -0.573382 -1.190321  0.049916 -0.929999
50%   -0.170363 -0.738260  0.422603 -0.811455
75%    0.436060  0.113472  0.607009 -0.314100
max    0.737706  1.527944  1.879534  0.711832

In [21]:
df.T

   2025-03-04  2025-03-05  2025-03-06  2025-03-07  2025-03-08  2025-03-09
A   -0.240391   -1.011833    0.614858   -0.684380    0.737706   -0.100336
B   -0.954881   -0.521639    1.527944   -1.635435   -1.268801    0.325176
C   -0.528938    0.280667    0.621165    0.564540    1.879534   -0.027000
D   -0.859948   -2.634893   -0.953350    0.711832   -0.164479   -0.762963

In [22]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2025-03-04 -0.859948 -0.528938 -0.954881 -0.240391
2025-03-05 -2.634893  0.280667 -0.521639 -1.011833
2025-03-06 -0.953350  0.621165  1.527944  0.614858
2025-03-07  0.711832  0.564540 -1.635435 -0.684380
2025-03-08 -0.164479  1.879534 -1.268801  0.737706
2025-03-09 -0.762963 -0.027000  0.325176 -0.100336

In [23]:
df.sort_index(
    axis=0, # 0: 行索引，1: 列索引
    level=None, # 多重索引的级别
    ascending=True, # 是否升序
    inplace=False, # 是否修改原数据
    kind='quicksort', # 排序算法
    na_position='last', # 缺失值位置
    sort_remaining=True, # 是否对剩余的索引排序
    ignore_index=False, # 是否忽略索引
    key=None # 排序关键字
)

                   A         B         C         D
2025-03-04 -0.240391 -0.954881 -0.528938 -0.859948
2025-03-05 -1.011833 -0.521639  0.280667 -2.634893
2025-03-06  0.614858  1.527944  0.621165 -0.953350
2025-03-07 -0.684380 -1.635435  0.564540  0.711832
2025-03-08  0.737706 -1.268801  1.879534 -0.164479
2025-03-09 -0.100336  0.325176 -0.027000 -0.762963

In [24]:
df.sort_values(by='B')

                   A         B         C         D
2025-03-07 -0.684380 -1.635435  0.564540  0.711832
2025-03-08  0.737706 -1.268801  1.879534 -0.164479
2025-03-04 -0.240391 -0.954881 -0.528938 -0.859948
2025-03-05 -1.011833 -0.521639  0.280667 -2.634893
2025-03-09 -0.100336  0.325176 -0.027000 -0.762963
2025-03-06  0.614858  1.527944  0.621165 -0.953350

In [25]:
df.sort_values(
    by=["B","A"],# 先拍B列，再按A列
    axis=0, # 0: 行索引，1: 列索引
    ascending=True, # 是否升序
    inplace=False, # 是否修改原数据
    kind='quicksort', # 排序算法
    na_position='last', # 缺失值位置
    ignore_index=False # 是否忽略索引
)

                   A         B         C         D
2025-03-07 -0.684380 -1.635435  0.564540  0.711832
2025-03-08  0.737706 -1.268801  1.879534 -0.164479
2025-03-04 -0.240391 -0.954881 -0.528938 -0.859948
2025-03-05 -1.011833 -0.521639  0.280667 -2.634893
2025-03-09 -0.100336  0.325176 -0.027000 -0.762963
2025-03-06  0.614858  1.527944  0.621165 -0.953350

## Get item

In [26]:
df["A"]

2025-03-04   -0.240391
2025-03-05   -1.011833
2025-03-06    0.614858
2025-03-07   -0.684380
2025-03-08    0.737706
2025-03-09   -0.100336
Freq: D, Name: A, dtype: float64

In [27]:
df[1:3]

                   A         B         C         D
2025-03-05 -1.011833 -0.521639  0.280667 -2.634893
2025-03-06  0.614858  1.527944  0.621165 -0.953350

In [28]:
df["2025-03-05":"2025-03-07"]

                   A         B         C         D
2025-03-05 -1.011833 -0.521639  0.280667 -2.634893
2025-03-06  0.614858  1.527944  0.621165 -0.953350
2025-03-07 -0.684380 -1.635435  0.564540  0.711832

In [29]:
print(df[["A","B"]])

                   A         B
2025-03-04 -0.240391 -0.954881
2025-03-05 -1.011833 -0.521639
2025-03-06  0.614858  1.527944
2025-03-07 -0.684380 -1.635435
2025-03-08  0.737706 -1.268801
2025-03-09 -0.100336  0.325176

In [30]:
print(df["A"])

2025-03-04   -0.240391
2025-03-05   -1.011833
2025-03-06    0.614858
2025-03-07   -0.684380
2025-03-08    0.737706
2025-03-09   -0.100336
Freq: D, Name: A, dtype: float64

In [34]:
print(df[["A"]])

                   A
2025-03-04 -0.240391
2025-03-05 -1.011833
2025-03-06  0.614858
2025-03-07 -0.684380
2025-03-08  0.737706
2025-03-09 -0.100336

* df["A"] returns a Pandas Series: This selects a single column, "A", from the DataFrame df and returns it as a Pandas Series.  A Series is a one-dimensional labeled array.

* df[["A"]] returns a Pandas DataFrame: This selects a single column, "A", but returns it as a DataFrame. This DataFrame contains only one column.  A DataFrame is a two-dimensional labeled data structure with rows and columns.

In [43]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df1 = pd.DataFrame(data)
print(df1)

series_a = df1["A"]
print(type(series_a))  # Output: <class 'pandas.core.series.Series'>
print(series_a)

dataframe_a = df1[["A"]]
print(type(dataframe_a))  # Output: <class 'pandas.core.frame.DataFrame'>
print(dataframe_a)

   A  B
0  1  4
1  2  5
2  3  6
<class 'pandas.core.series.Series'>
0    1
1    2
2    3
Name: A, dtype: int64
<class 'pandas.core.frame.DataFrame'>
   A
0  1
1  2
2  3

In short, using single brackets [] with a single column name selects the column as a Series, while using double brackets [[]] (with a list containing the column name) selects the column as a DataFrame.  

Choose the appropriate method based on the desired data structure for subsequent operations.

In [32]:
# loc: 通过标签索引行数据
# iloc: 通过位置获取行数据

## Selection by lable

In [33]:
df.loc["2025-03-05":"2025-03-07", ["A", "B"]]

                   A         B
2025-03-05 -1.011833 -0.521639
2025-03-06  0.614858  1.527944
2025-03-07 -0.684380 -1.635435

In [35]:
df.iloc[3]

A   -0.684380
B   -1.635435
C    0.564540
D    0.711832
Name: 2025-03-07 00:00:00, dtype: float64

In [36]:
df.iloc[3:5, 0:2]

                   A         B
2025-03-07 -0.684380 -1.635435
2025-03-08  0.737706 -1.268801

In [37]:
df.iloc[:,1:3]

                   B         C
2025-03-04 -0.954881 -0.528938
2025-03-05 -0.521639  0.280667
2025-03-06  1.527944  0.621165
2025-03-07 -1.635435  0.564540
2025-03-08 -1.268801  1.879534
2025-03-09  0.325176 -0.027000

## Boolean indexing

In [42]:
df[df["A"] > 0]

                  A         B         C         D
2025-03-05  0.73854  0.264259 -1.165556 -0.466378

In [45]:
df

                   A         B         C         D
2025-03-04 -0.957528 -1.369764  0.140636  0.448950
2025-03-05  0.738540  0.264259 -1.165556 -0.466378
2025-03-06 -1.093770  1.721826 -0.709783  1.112491
2025-03-07 -0.781910  0.812508 -0.247565 -1.000344
2025-03-08 -0.379704 -1.742474 -1.236912 -0.655909
2025-03-09 -1.734585 -0.206990  0.801452 -0.671617

In [46]:
df > 0

                A      B      C      D
2025-03-04  False  False   True   True
2025-03-05   True   True  False  False
2025-03-06  False   True  False   True
2025-03-07  False   True  False  False
2025-03-08  False  False  False  False
2025-03-09  False  False   True  False

## Add and drop

In [ ]:
df2 = df.copy() # 复制数据，并防止原数据被修改

In [48]:
df2

                   A         B         C         D
2025-03-04 -0.957528 -1.369764  0.140636  0.448950
2025-03-05  0.738540  0.264259 -1.165556 -0.466378
2025-03-06 -1.093770  1.721826 -0.709783  1.112491
2025-03-07 -0.781910  0.812508 -0.247565 -1.000344
2025-03-08 -0.379704 -1.742474 -1.236912 -0.655909
2025-03-09 -1.734585 -0.206990  0.801452 -0.671617

In [51]:
df2["E"] = ["one", "one", "two", "three", "four", "three"]

In [52]:
df2

                   A         B         C         D      E
2025-03-04 -0.957528 -1.369764  0.140636  0.448950    one
2025-03-05  0.738540  0.264259 -1.165556 -0.466378    one
2025-03-06 -1.093770  1.721826 -0.709783  1.112491    two
2025-03-07 -0.781910  0.812508 -0.247565 -1.000344  three
2025-03-08 -0.379704 -1.742474 -1.236912 -0.655909   four
2025-03-09 -1.734585 -0.206990  0.801452 -0.671617  three

In [53]:
df2 = df2.assign(F=pd.Series([1, 2, 3, 4, 5, 6]).values)

In [54]:
df2

                   A         B         C         D      E  F
2025-03-04 -0.957528 -1.369764  0.140636  0.448950    one  1
2025-03-05  0.738540  0.264259 -1.165556 -0.466378    one  2
2025-03-06 -1.093770  1.721826 -0.709783  1.112491    two  3
2025-03-07 -0.781910  0.812508 -0.247565 -1.000344  three  4
2025-03-08 -0.379704 -1.742474 -1.236912 -0.655909   four  5
2025-03-09 -1.734585 -0.206990  0.801452 -0.671617  three  6

In [55]:
df2.insert(1, "G", [1, 2, 3, 4, 5, 6])

In [56]:
df2

                   A  G         B         C         D      E  F
2025-03-04 -0.957528  1 -1.369764  0.140636  0.448950    one  1
2025-03-05  0.738540  2  0.264259 -1.165556 -0.466378    one  2
2025-03-06 -1.093770  3  1.721826 -0.709783  1.112491    two  3
2025-03-07 -0.781910  4  0.812508 -0.247565 -1.000344  three  4
2025-03-08 -0.379704  5 -1.742474 -1.236912 -0.655909   four  5
2025-03-09 -1.734585  6 -0.206990  0.801452 -0.671617  three  6

In [61]:
new_row = pd.DataFrame({"A": 1, "B": 2, "C": 3, "D": 4, "E": 'one', "F": 7}, index=[20250310])
df2 = pd.concat([df2, new_row])

In [62]:
df2

                            A    G         B         C         D      E  F
2025-03-04 00:00:00 -0.957528  1.0 -1.369764  0.140636  0.448950    one  1
2025-03-05 00:00:00  0.738540  2.0  0.264259 -1.165556 -0.466378    one  2
2025-03-06 00:00:00 -1.093770  3.0  1.721826 -0.709783  1.112491    two  3
2025-03-07 00:00:00 -0.781910  4.0  0.812508 -0.247565 -1.000344  three  4
2025-03-08 00:00:00 -0.379704  5.0 -1.742474 -1.236912 -0.655909   four  5
2025-03-09 00:00:00 -1.734585  6.0 -0.206990  0.801452 -0.671617  three  6
20250310             1.000000  NaN  2.000000  3.000000  4.000000    one  7

In [66]:
df2 = df2.drop(["B","D"], axis=1)

In [67]:
df2

                            A    G         C      E  F
2025-03-04 00:00:00 -0.957528  1.0  0.140636    one  1
2025-03-05 00:00:00  0.738540  2.0 -1.165556    one  2
2025-03-06 00:00:00 -1.093770  3.0 -0.709783    two  3
2025-03-07 00:00:00 -0.781910  4.0 -0.247565  three  4
2025-03-08 00:00:00 -0.379704  5.0 -1.236912   four  5
2025-03-09 00:00:00 -1.734585  6.0  0.801452  three  6
20250310             1.000000  NaN  3.000000    one  7

In [69]:
df2 = df2.drop([20250310], axis=0)

In [70]:
df2

                            A    G         C      E  F
2025-03-04 00:00:00 -0.957528  1.0  0.140636    one  1
2025-03-05 00:00:00  0.738540  2.0 -1.165556    one  2
2025-03-06 00:00:00 -1.093770  3.0 -0.709783    two  3
2025-03-07 00:00:00 -0.781910  4.0 -0.247565  three  4
2025-03-08 00:00:00 -0.379704  5.0 -1.236912   four  5
2025-03-09 00:00:00 -1.734585  6.0  0.801452  three  6